header {
    height: 130px;
    display: grid;
    grid-template-rows: 1.5fr 4fr 1.5fr;
    font-family: Arial, Helvetica, sans-serif;
}


body {
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    margin:0;
    
}

div.body {
    height: 775px;
    padding-top: 12px;
    padding-bottom: 10px;
    background-color: #F2EFEC;
}

div#top_story {
    height: 432px;
    width: 1260px;
    margin:0 auto;
}

#top_title {
    color: black;
    font-size: 2.2rem;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 440px;
    line-height: 3rem;
}

#top_para {
    color: #5A5A5A;
    margin-top: 8px;
}

li {
    color: black;
    font-weight: bold;
    margin-bottom: 8px;
    
}

ul {
    padding-top: 25px;
    padding-left: 20px;
}

div#main_stories {
    height: 200px;
    width: 1260px;
    margin:0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

div.stories {
    border-top: 1px #cccccc solid;
    margin-top: 15px;
    padding-right: 8px;
   
}

h4 {
    color: black;
}

#last_main_story {
    padding-right: 0px;
}

.main_story_pic {
    min-width: 100%;
}

#main_pic {
    height: 425px;
    width: 740px;
    float: right;
}



div#top_bar {
      
    width: 1260px;
    margin:0 auto;
}

.top_bar_sections {
    color: black;
    float: left;
    border-left: 1px #cccccc solid;
    vertical-align: middle;
    height: 100%;
    margin-left: 30px;
}

.top_bar_text {
    font-weight: bold;
    font-size: 92%;
    position: relative;
    left: 11px;
    top: 11px;
    
}

div#bottom_bar { 
    background-color:   #b82a2a;
   
}

div#bottom_bar_content {
    width: 1260px;
    margin:0 auto;
}

div.bottom_bar_sections {
    color: #FEFEFE;
    float: left;
    border-right: 1px #BB454F solid;
    vertical-align: middle;
    height: 100%;
    padding-right: 5px;
    margin-right: 10px;
}

.bottom_bar_text {
    float: left;
    width: fit-content;
    font-weight: lighter;
    font-size: 92%;
    
    
}

#trying {
    border-right: none;
}

div#header_red {
    background-color:   #b82a2a;
}

footer {
    border-color: black;
    position:relative;
    bottom:0;
    left:0;
    right:0;
    height:30px;
    border-style:solid;  
  }

#logo {
    width: auto;
    height: 25px;
    margin-bottom: 5px;
    margin-top: 5px;
    margin-right: 5px;
    float: left;
}

#bbc_user {
    width: 20px;
    height: 20px;
    margin: 8px 15px;
    float: left;
}

#sign_in_text {
    font-weight: bold;
    font-size: 92%;
    position: relative;
    top: 11px;
}

#sign_in {
    margin-right: 80px;
}

#search {
    background: #E4E4E4;
    color:  black;
    font-weight: bold;
    font-family: inherit;
    float: left;
    border-style: none;
    height: 26px;
    position: relative;
    top: 5px;
    left: 11px;
}

#search_img {
    height: 26px;
    position: relative;
    top: 5px;
    left: 11px;
}

div#inside_red {
    color: #FEFEFE;
    width: 1260px;
    margin:0 auto;
}

h1 {
    margin:0 auto;
    color:  #FEFEFE;
    font-size: 40px;
    font-weight: lighter;
    position: relative;
    top: 5px;
    font-family: Helvetica,Arial,freesans,sans-serif;
}





@media screen and (max-width: 800px) {
    body, header, footer {
      width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
      display: grid;
      grid-template-columns: 1fr;
    }
  }
