header {
    border-style:solid;
    height: 130px;
    display: grid;
    grid-template-rows: 1.5fr 3fr 1fr;
}


body {
    color:  pink;
    font-size: larger;
    display: grid;
    margin:0;
    
}

div.body {
    border-color: salmon;
    border-style:solid;
    height: 535px;
}

div#top_bar {
    color:  pink;
    border-style:solid;   
    width: 1260px;
    margin:0 auto;
}

div#bottom_bar {
    color:  pink;
    border-style:solid;   
    width: 1260px;
    margin: auto;
}

div.header_red {
    background-color:   #b82a2a;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;  
    border-style:solid;  
  }

#logo {
    width: auto;
    height: 25px;
    margin-bottom: 5px;
    margin-top: 5px;
    margin-right: 5px;
    float: left;
}

div.top_bar_sections {
    color: black;
    float: left;
    border-left: 1px #cccccc solid;
    vertical-align: middle;
    height: 100%;
}

